*{
    padding: 10px;
    margin-right: 10px;
}
body{
    padding: 0px;
    margin: 0px;
    }

#secttop > .topnav-right > a{
    color: white;
}

.topnav-right{
        float: right;
        margin-top: 40px;
      }

.Button1{
    background-color: yellow;
    padding: 6px;
    font-size: 10px;
}

.Button2{
    color: yellow;
    background-color: black;
    padding: 6px;
    font-size: 10px;
}

.bg-img{
    background-image: url("./assets/images/background.png");
    background-size: cover; 
    background-position: center center;
    height: 60vh;
    margin-left: 50px;
}

#sectHeader > .Header > h3{
    color: yellow;
    font-size: 40px;
}

#sectHeader > .Header > p{
    color: white;
    font-size: x-large;
}

#sectBody{
    margin-top: 5px;
    display: flex;
    align-items: right;
    justify-content: left;
}

#sectBody > .Body{
    display: flex;
}

#sectBody > .Body > .leftside{
    display: flex;
    justify-content: left;
    align-items: left;
}

#sectBody > .Body > .leftside > .rightside{
    display: flex;
    align-items: right;
    justify-content: center;
}

.Button3{
    color: yellow;
    background-color: black;
    border-top-right-radius: 15px;
}

.column {
    background-color: whitesmoke;
    float: left;
    padding: 0px;
  }

#sectcolumn1{
    margin-bottom: 30px;
    margin-left: 50px;
}

  
  .row::after {
    content: "";
    clear: both;
    display: flex;
  }

#sectlinks > .row > .column{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}




