*{
    padding: 10px;
    margin: 5px;
}
body{
    padding: 0px;
    margin: 0px;
    }

.topnav-right {
        float: right;
      }

.bg-img{
    background-image: url("./assets/images/background.png");
    height: 60vh;
}

#sectHeader > .Header > h3{
    color: yellow;
    font-size: 30px;
}

#sectHeader > .Header > h3 > p{
    color: white;
    font-size: 30px;
    margin-top: 30px;
}

#sectBody{
    margin-top: 5px;
    display: flex;
    align-items: right;
    justify-content: left;
}

#sectBody > .Body{
    display: flex;
}

#sectBody > .Body > .leftside{
    display: flex;
    justify-content: left;
    align-items: left;
}

#sectBody > .Body > .leftside > .rightside{
    display: flex;
    align-items: right;
    justify-content: center;
}

.column {
    float: left;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: flex;
  }

#sectlinks > .row > .column{
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 100px;
}

#sectlinks > .row > .column > h2{
    border-style: outset;
}



