*{
    padding: 0px;
    margin: 0px;
}

body{
    padding: 0px;
    margin: 50px;
    background-color: whitesmoke;
}

#secttop{
    background-color: black;
    padding-top: 20px;
}

#secttop > .topnav-right > a{
    color: white;
}

.topnav-right{
        float: right;
        margin-top: 40px;
      }


#secthead{
    color: white;
    background-color: black;
    padding-bottom: 30px;
    padding-left: 20px;
}

#sectdetails > .details{
    display: flex;
    background-color: whitesmoke;
    width: 100%;
}

#sectdetails > .leftside{
    display: flex;
    justify-content: left;
    margin-top: 100px;
}

.btn-group button {
    background-color: white;
    border: 1px white;
    color: Black;
    padding: 2px 6px;
    margin-left: 50px;
    margin-top: 30px;
    cursor: pointer; 
    width: 50%; 
    display: block;
  }

  .btn-group button:not(:last-child) {
    border-bottom: none; 
  }

  .row > .column > img{
      padding-right: 20px;
  }

#sectdescript{
    background-color: whitesmoke;
    width: 50%;
}

#sectdescript > .descript > h3{
    background-color: white;
    font-size: small;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p{
    margin: 20px;
}

.column {
    float: center;
    padding-right: 5px;
  }
  
  .row::after {
    content: normal;
    clear: both;
    display: flex;
  }

  #sectfeatures > .row > .column{
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

#sectfeatures > .row > .column > h4 > ul{
    display: flex;
    padding-right: 5px;
}

#sectcolumn > .column {
    float: left;
    padding: 5px;
  }
  
 #sectcolumn > .row::after {
    content: "";
    clear: both;
    display: flex;
  }




